.navbar-brand {
    margin-left: 50px;
}
li{
    display: block; 
    
}

#imgban{
    width: 1500px;
    height: 600px;
    position: relative;

}
#imglog{
    position: absolute;
    top: 10%;
    left:45%;
    width: 600px;
    height: 600px;
    /* top: 60px;
    left: 80px; */
}
.tes{
    position:absolute;
    top: 190px;
    margin-left: 100px;
    margin-right: 150px;
    color: #ffffff;
    display: block;
}
#butn{
    border-radius: 25px;
}

.group{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .ment, .opp, .grp, .sp{
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}
.row{
    margin-top: 50px;
}
.sponsor{
    margin-left: 10px;
    margin-right: 10px;
}
.foot{
    background-color: #367155;
    color: #ffffff;
}
#fut, #logo{
    text-align: center;
    padding-top: 40px;
}
#ficon{
    text-align: center;
    float: inline-end;
    padding-left: 300px;
    padding-right: 300px;
}
#links{
    color: #ffffff;
    text-align: left;
    left: 200px;
    
}

@media only screen and (max-width: 700px) {
    .width_reduce {
      width: 50%;
    }
  }